/* Memo :

    vh = "viewport height" : pourcentage de hauteur de la fenêtre 
    vw = "viewport widht" : pourcentage de largeur de la fenêtre

    h1
    color: #f94c43;                         Rouge

    Font de page
    color: #fce300;                         beige

    couleur header
    background-color: rgba(0, 0, 0);        Noir

    couleur Texte
    color: #f6d317;                         jaune-orangé(lien)

    couleur footer
    background-color: rgba(0, 0, 0, 0.8);   Gris

    Page actuel
    color: #fbff00;                         jaune(lien)


    Decouverte 
    
    background image
    background-size cover
    background-position center
    background-blend-mode darken
    text-transform uppercase

    voir github auer404
*/
::-webkit-scrollbar{
    background-color: rgba(0, 0, 0, 0.8);
}
::-webkit-scrollbar-thumb{
    background-color: bisque;
    width: .6rem;
    border-radius: .5rem;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 300; */
    margin: 0;
    font-size: 1rem;
}
#ancre{
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    bottom: 10px;
    right: 10px;
}
#ancre a{
    height: 70px;
    width: 100%;
}
#ancre a button{
    border: none;
    width: 70px;
    height: 70px;
    background-color: transparent;
}
#ancre a button img{
    width: 80%;
    height: auto;
    margin: 0;
}
/********************** Menu Nav **********************/
header{
    width: 100%;
    background-color: rgba(0, 0, 0);
}
nav{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}
nav a{
    color: #f6d317;
    text-decoration: none;
    font-family: sans-serif;
}
nav a:hover{
    color: #f94c43;
}
h1{
    color:#f94c43;
    text-align: center;
    padding: 10px;
    margin: 0;
    font-family: "Nunito Sans";
}
.page_actuel{
    color: #fbff00;
    font-weight: bold;
}
/********************** Nav Fin ***********************/

/*********************** Image ************************/
.parallax {
    background-image: url(../img/Luv-Resval.png.webp);
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax_img2 {
    background-image: url(../img/Capture+d’écran+2021-05-18+à+14.39.57.png);
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*********************** Fin Image ********************/


.p1{
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
}
.p2{
    padding-left: 10px;
}
.p3{
    padding: 10px;

}

a{
    text-decoration: none;
    font-weight: bold;
}


/* ---------------------Page Discographie--------------------- */

    
   
hr{
  border: none;
  border-top: 3px solid #000000;
  overflow: visible;
  text-align: center;
  height: 5px;    
}
img{
    width: 400px;
    height: 400px;
    margin: 1%;
}
.container{
    display: flex;
    padding: auto;
    margin: 1%;
}
.container_reverse{
    display: flex;
    flex-direction:row-reverse;
    margin: 1%;
}
.album h3{
    display: block;
    text-align: center;
}
.album h2{
    display: block;
    text-align: center;
}
.container img{
    margin: auto;
    margin-left: 0;
}
.container_reverse img{
    margin: auto;
    margin-right: 0;
}
.setlist{
    width: auto;
    height: 35%;
    padding: 1%;
    padding-left: 0;
    margin: auto;
}
ol{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}
li{
    margin-right: 20px;
    margin-left: 20px;

}
.morceaux{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
li, a{
    color: black;
}
.date{
    text-align: end;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
/* ***************** Page 3 ******************* */
.news h2{
    text-align: center;
}
.fan_art{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 10px;
}
.content{
    position: relative;
    width: 25%;
    aspect-ratio: 1/1;
    overflow: hidden;
}
.content img{
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.a_propos{
    background-color: rgba(245, 245, 245, 0.575);
    bottom: 0;
    position: absolute;
    width: 100%;
    align-content: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    transform: translateY(100%);
    opacity: 0;
}
.fan_art .content:hover .a_propos{
    height: 100%;
    transform: translateY(0);
    transition: 0.5s;
    opacity: 1;
}
.fan_art .content:hover img{
    transition: 0.5s;
    filter: grayscale();
    /* transform: scale(1.05); */
}
.a_propos a{
 font-weight: 500;
}
.a_propos a .savoir_plus{
    transition: .3s;
    background-color: #f94c43;
    margin-top: 3%;
    color: white;
    border: solid 3px transparent;
    border-radius: 10px;
    width: 40%;
    height: 40px;
}
.a_propos a .savoir_plus:hover{
    transition: .3s;
    background-color: white;
    color: #f94c43;
    width: 45%;
    align-content: center;
    border: solid 3px #f94c43;
    cursor: pointer;
}
.a_propos a button.savoir_plus::before{
    content: 'En savoir plus';
}
/* ************* Footer ************** */
.reseau, .logo_img{
    display: flex;
    justify-content: center;
    margin-top: auto;

    gap: 5px;
}
.colone{
    min-width: 8%;
}
#tiktok a, #ytb a, #X a, #insta a, #wiki a{
    width: 100%;
}
#tiktok a button, #ytb a button, #X a button, #insta a button, #wiki a button{
    width: 100%;
    height: 25px;
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color:#f94c43;
    border: none;
    border-radius: 20px;
    box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
#tiktok a button:active, #ytb a button:active, #X a button:active, #insta a button:active, #wiki a button:active{
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
div a button{
    background-color: transparent;
}
div a button img{
    margin: auto; 
    margin-left: 0;   
    margin-right: 10px;
    width: auto;
    height: 15px;
}
.logo_img a img{
    display: none;
    margin: auto; 
    margin-left: 0;   
    margin-right: 10px;
    width: auto;
    height: 15px;
}
.news p{
    align-content: center;
}
footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #f6d317;
    padding-top: 1%;
    padding-bottom: 1%;
    max-height: 20vh;
    min-height: 10vh;
    text-align: start;
}
footer p{
    margin-left: 1%;
}
footer a{
    text-decoration: none;
    color: #fbff00;
}

/***** RESPONSIVE *****/
@media screen and (max-width: 1115px) {
    /*** Page 1 ***/
    .parallax_img2 {        
        background-image: url(../img/resval_grunt500x500.jpg);
    }
    /*** Page 2 ***/
    img{
        width: 300px;
        height: 300px;
    }

    /*** Page 3 ***/
    .a_propos p{
        display: none;
    }
    .a_propos a .savoir_plus{
        width: 50%;
    }
    .a_propos a .savoir_plus:hover{
        width: 55%;
    }
    /* FOOTER */
    .colone{
        min-width: 15%;
    }
}
@media screen and (max-width: 1000px) {
    nav {
        display: flex;
        justify-content: space-around;
    }
    nav a{
        justify-content: space-around;    
        font-size: 0.9rem;
    }
    /*** Page 1 ***/
    .acceuil{
        font-size: 0.9rem;
    }
    /*** Page 2 ***/
    .container, .container_reverse{
        flex-direction: column;
    }
    .container img, .container_reverse img {
        margin: auto;
        justify-content: center;
    }
    .setlist{
        margin: 0;
        width: 100%;
    }
    .setlist ol{
        justify-content: center;
        flex-wrap: none;
    }
    .setlist ol li{
        min-width: 300px;
        margin: 0;
    }
    .date{
        width: 90%;
        margin: auto;
    }
}
@media screen and (max-width: 912px) {
    .a_propos a .savoir_plus{
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 787px) {
    .a_propos a .savoir_plus{
        font-size: 0.6rem;
    }
}
@media screen and (max-width: 710px) {
    .a_propos a button.savoir_plus::before{
        content: '';
    }
    .a_propos a button.savoir_plus::after{
        font-size: 0.7rem;
        content: 'Voir';
    }
}
@media screen and (max-width: 500px) {
    #ancre a{
        height: 50px;
        width: 100%;
    }
    #ancre a button{
        width: 50px;
        height: 50px;
    }
    nav ul{
        gap: 20px;
    }
    nav li {
        margin: 0;
    }
    nav a{
        font-size: 0.8rem;
    }
    /*** Page 1 ***/
    .acceuil{
        font-size: 0.7rem;
    }
    .parallax {
        display: none;
    }
    .parallax_img2 {
        display: none;
    }
    .p3{
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.8);
        border-bottom: 3px solid antiquewhite;
    }
    /*** Page 3 ***/
    .content{
        width: 40%;
    }
    .content:nth-child(5){
        display: none;
    }
    .a_propos a .savoir_plus{
        width: 50%;
    }
    .a_propos a .savoir_plus:hover{
        width: 55%;
    }
    /* FOOTER */
    #tiktok a button, #ytb a button, #X a button, #insta a button, #wiki a button{
        font-size: 0.5rem;
    }
    #tiktok a, #ytb a, #X a, #insta a, #wiki a{
        display: none;
        margin: auto; 
        margin-left: 0;   
        margin-right: 10px;
        width: auto;
        height: 10px;
    }
    .logo_img a img{
        display: flex;

    }
}